* {

  margin: 0;
  padding: 0;

}

section {

  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

section  .row {

  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 64px;
  top: 50%;
  

}

i {

  color: rgba(0, 0, 0, 0.5);
  transition-delay: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
  transform: rotate(-30deg);
  

}

i:hover {

  color: rgb(226, 111, 241);
  text-shadow: 0 0 120px rgba(245, 222, 169, 0.533);
  transition: 0s;


} 

section . row div {

  animation: animate1 80s linear infinite;
  animation-delay: -80s;

}

section . row div:nth-child(2) {

  animation: animate2 80s linear infinite;
  animation-delay: -40s;

}

@keyframes animate1 {
  0% {

      transform: translateX(100%);
  }

  100% {

    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {

      transform: translateX(0%);
  }

  100% {

    transform: translateX(-200%);
  }
}




section . row div:nth-child(even) {

  animation: animate3 80s linear infinite;
  animation-delay: -80s;

}

section . row div:nth-child(even) {

  animation: animate4 80s linear infinite;
  animation-delay: -40s;

}

@keyframes animate3 {
  0% {

      transform: translateX(-100%);
  }

  100% {

    transform: translateX(100%);
  }
}

@keyframes animate4 {
  0% {

      transform: translateX(-200%);
  }

  100% {

    transform: translateX(0%);
  }
}